@import './reset.scss';
@import './variables.scss';
@import './normalize.scss';


.app {
  min-height: 100vh;
}

.container {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}