:root {
    //text-color
    --color-grey: #aaaaaa;
    --color-black: #000000;
    --color-white: #fffefe;
    --color-red: #FF1A1E;
    --color-deep-red: #ff0033;
    --color-grey-deep: rgba(255, 255, 255, .7);
    --color-beige :    #fef9f4;
}